* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fan-div {
  background-image: url("../assets/images/fan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.fan-div .ceiling-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  -webkit-animation: spin 6ms linear infinite;
          animation: spin 6ms linear infinite;
          left: 24%;
          top: 13%;
}

.fan-div .ceiling-container:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  background: #444;
  -webkit-box-shadow: inset 0 0px 0px 8px #444444, inset 0 1px 5px 22px #383838;
          box-shadow: inset 0 0px 0px 8px #444444, inset 0 1px 5px 22px #383838;
}

.fan-div .ceiling-fan {
  display: block;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
  -webkit-box-shadow: inset 1px 1px 40px #555;
          box-shadow: inset 1px 1px 40px #555;
}

.fan-div .ceiling-fan:after {
  content: "";
  position: absolute;
  background: #666;
  display: block;
}

.fan-div .ceiling-fan.horizontal {
  width: auto;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.fan-div .ceiling-fan.horizontal:after {
  top: 25%;
  width: 15px;
  height: 50%;
}

.fan-div .ceiling-fan.vertical {
  width: 50px;
  height: auto;
  left: 50%;
  margin-left: -25px;
  -webkit-transform: skewY(20deg);
          transform: skewY(20deg);
}

.fan-div .ceiling-fan.vertical:after {
  height: 15px;
  width: 50%;
  margin-left: 25%;
}

.fan-div .ceiling-fan.left {
  left: 0;
  right: 50%;
  margin-right: 45px;
  border-radius: 50% 15px 15px 50%;
}

.fan-div .ceiling-fan.left:after {
  left: 100%;
}

.fan-div .ceiling-fan.right {
  right: 0;
  left: 50%;
  margin-left: 45px;
  border-radius: 15px 50% 50% 15px;
}

.fan-div .ceiling-fan.right:after {
  right: 100%;
}

.fan-div .ceiling-fan.top {
  top: 0;
  bottom: 50%;
  margin-bottom: 45px;
  border-radius: 50% 50% 15px 15px;
}

.fan-div .ceiling-fan.top:after {
  top: 100%;
}

.fan-div .ceiling-fan.bottom {
  top: 50%;
  bottom: 0;
  margin-top: 45px;
  border-radius: 15px 15px 50% 50%;
}

.fan-div .ceiling-fan.bottom:after {
  bottom: 100%;
}
.light{
  width: 210px;
  height: 210px;
  background-color: #fbff1b;
  position: absolute;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 0 0 200px white;
  z-index: 1000;
}
button{
  padding: 20px 80px;
  color:white;
  background-color: rgb(3, 160, 3);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  position: absolute;
    right: 20%;
}
.red{
  background-color:red;
}
@media only screen and (max-width:767px){
  .fan-div{
    background-position-x:22% ;
  }
  .fan-div .ceiling-container{
    width: 260px;
    height: 260px;
    top: 7%;
  }
  button{
    top: 80%;
    right: 25%;
  }
}